# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres....:[PASSWORD]@aws-1-eu-north-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres....:[PASSWORD]@aws-1-eu-north-1.pooler.supabase.com:5432/postgres"

# NextAuth (gerar com: openssl rand -base64 32) ou node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sKrIQs/...+...+...="

# Ambiente (development ou production)
NODE_ENV="development"

# Google OAuth (criar em: https://console.cloud.google.com)
GOOGLE_CLIENT_ID="....-....apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="..-..-..."

# Google Gemini API Key (criar em:  https://aistudio.google.com/app/apikey)
GOOGLE_GEMINI_API_KEY="...-.."